@charset "UTF-8";

/*  Tudo que é "ID" em HTML é "#" em CSS
    Tudo que é "CLASS" em HTML é "." em CSS*/

body {
    background-color: rgb(174, 236, 174);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal {

    text-align: center;
    background-color: green;
    color: white;
}
h1 {
    color: rgb(8, 48, 8);
}
h2 {
    color: rgb(78, 109, 78);
}

.basico {
    color: rgb(58, 187, 58);
}

.intermediario {
    color: rgb(240, 240, 52);
}

.avancado {
    color: rgb(173, 48, 48);
}